:root {

    --col1: #FE5551;
    --col2: #D2D2D2;
    --col3: #FFFEDC;
    --col4: #01C7BE;
    --col5: #FEEA5C;

    --letter_col1: #eeddd5;
    --letter_col2: #dfbdb4;

    --letter_width: 350px;
    --letter_height: 220px;

    --offset: 220px;
}

body, html {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

span, a {
    text-transform: uppercase;
}

header {
    z-index: 2;
    position: fixed;
    width: calc(50% - var(--offset));
    height: 100%;
    background: var(--col1);
}

.header_content {
    width: 300px;
    height: 100%;
    float: right;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.header_logo {
    width: 220px;
    height: 260px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_logo_img {
    width: 100%;
}

.header_logo_title {
    font-size: 26px;
    margin-top: 10px;
}

.header_navbar {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_navbar_link {
    width: 160px;
    height: 40px;
    
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;

    font-size: 20px;
    font-weight: 800;

    text-decoration: none;
    color: black;

    border: 2px solid var(--col1);
    border-radius: 4px;

    transition: color 0.3s, border 0.3s, box-shadow 0.3s, transform 0.3s;
}

.header_navbar_link:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

#header_navbar_link_aboutme:hover {
    border: 2px solid var(--col5);
    box-shadow: 0 8px 0 var(--col5);
    color: var(--col5);
}

#header_navbar_link_projects:hover {
    border: 2px solid var(--col4);
    box-shadow: 0 8px 0 var(--col4);
    color: var(--col4);
}

#header_navbar_link_contact:hover {
    border: 2px solid var(--col2);
    box-shadow: 0 8px 0 var(--col2);
    color: var(--col2);
}

.header_navbar_link_img {
    height: 70%;
    margin: 0 10px 0 0;
}

.header_links {
    position: absolute;
    bottom: 20px;
    margin-right: 25px;
    margin-left: 25px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

.header_link {
    /* Avec border 2px, 60px au total */
    width: 50px;
    height: 50px;
    margin: 0 5px 0 5px;

    border: 2px solid var(--col1);
    border-radius: 4px;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header_link:hover {
    border: 2px solid black;
    box-shadow: 0 8px 0 black;
    transform: translateY(-8px);
}

.header_link_image {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.header_dev_container {
    height: 50px;
    width: 40px;

    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    display: none;

    padding: 0 5px 0 5px;
}

.header_dev_container:hover {
    cursor: pointer;
}

.header_dev {
    position: relative;

    width: 90%;
    border: 2px solid #000;
    border-radius: 2px;
}

.header_dev::before {
    content: "";

    position: absolute;
    right: -2px;
    bottom: 10px;

    width: 100%;
    height: 0px;

    border: 2px solid #000;
    border-radius: 2px;
}

.header_dev::after {
    content: "";

    position: absolute;
    right: -2px;
    top: 10px;

    width: 100%;
    height: 0px;

    border: 2px solid #000;
    border-radius: 2px;
}

#navbar_close {
    display: none;

    position: absolute;
    top: 5px;
    right: 5px;
}

#navbar_close:hover {
    background: var(--letter_col2);
}

#navbar_close:hover .cross_line1, #navbar_close:hover .cross_line2 {
    background: var(--letter_col1);
}

#navbar_close .cross_line1, #navbar_close .cross_line2 {
    background: var(--letter_col2);
}

.page {
    width: calc(50% + var(--offset));
    display: block;
    float: right;
}

.page_content {
    max-width: 700px;
    margin: 40px 0 0 40px;
}

/* About me */

.about_me_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.about_me_header_paragraph {
    margin-right: 20px;
}

.about_me_header_img {
    height: 200px;
    border-radius: 50%;
}

.connect {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.connect_link {
    width: calc(50% - 5px);
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    color: black;
    background: var(--col4);
    /* border: 1px solid var(--col1); */
    border-radius: 4px;
    box-sizing: border-box;
}

.connect_link_img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.connect_link:hover {
    background: var(--col1);
}

/* Projects : page projects */

.projects {
    width: 100%;
}

.project {
    background-color: rgb(199, 199, 199);

    position: relative;
    float: left;

    width: 49%;
    padding-top: 50%;

    margin-bottom: 10px;
    
    border-radius: 5px;

    transition: transform 0.3s;
}

.project:nth-child(even) {
    float: right;
}

.project_img {
    position: absolute;
    top: 10px;
    left: 10px;

    width: calc(100% - 20px);
    height: 75%;

    border-radius: 5px;
    
    background-size: 110%;
    background-position: center center;
    background-size: cover;
    transition: background-size 0.3s;
}

.project_overlay {
    position: absolute;
    
    bottom: 10px;
    left: 10px;

    width: calc(100% - 20px);
    height: calc(25% - 30px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project_info {
    color: #000;
}

#project_title {
    font-size: 1.2em;
}

#project_title, #project_period {
    margin-left: 10px;
}

#project_techno {
    margin-right: 10px;
}

#project_period, #project_techno {
    text-transform: none;
}

/* focus */

.focus_project_img {
    width: 100%;
    border-radius: 4px;
}

/* Footer */

footer {
    width: calc(50% + var(--offset));
    display: block;
    float: right;
}

.footer_content {
    max-width: 700px;
    margin: 40px 0 40px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_dashed {
    width: 100%;

    border-top: 2px solid #000;
    margin-bottom: 20px;
}

.footer_content_underdashed {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer_thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_select_lang {
    height: 25px;
    margin: 0 10px 0 0;
    border-radius: 3px;
}

.thanks_link {
    text-transform: lowercase;
    text-decoration: none;
    color: var(--col4);
}

.thanks_link:hover {
    color: var(--col1);
}

/* Fenêtre modal */

#modal_contact {

    /* Mettre la fenêtre modal tout devant */
    z-index: 10;
    
    width: var(--letter_width);
    height: var(--letter_height);

    position: fixed;
    bottom: -100%;
    left: calc(50% - var(--letter_width)/2);


    background: var(--letter_col1);
    transition: bottom 0.6s, left 0.6s;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Fenêtre modal : permet d'ajouter la bordure */

#modal_content {
    width: calc(100% - 30px);
    height: calc(100% - 30px);

    border: 5px solid var(--letter_col2);
    border-radius: 5px;

    position: relative;
}

/* Croix pour fermer */

.cross {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    transition: background 0.3s;
}

.cross:hover {
    cursor: pointer;
}

.cross_line1, .cross_line2 {
    position: absolute;
    border-radius: 2px;
    transition: background 0.3s;
}

.cross_line1 {
    width: 90%;
    height: 5px;
    top: 50%;
    transform: translate(5%, -50%) rotate(45deg);
}

.cross_line2 {
    width: 5px;
    height: 90%;
    left: 50%;
    transform: translate(-50%, 5%) rotate(45deg);
}

#modal_close {
    float: right;
    margin: 5px 5px 0 0;
}

#modal_close:hover {
    background: var(--letter_col2);
}

#modal_close:hover .cross_line1, #modal_close:hover .cross_line2 {
    background: var(--letter_col1);
}

#modal_close .cross_line1, #modal_close .cross_line2 {
    background: var(--letter_col2);
}

/* Modal info  */

#modal_my_name {
    font-size: 20px;
    margin: 5px 0 0 10px;
    width: fit-content;
}

#modal_work {
    font-size: 14px;
    margin: 0 0 0 10px;
    width: fit-content;
}

#modal_infos {
    margin: 30px 0 0 50px;
}

.modal_info {
    padding: 0 5px 0 5px;
    margin-top: 5px;
    width: fit-content;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal_info:hover {
    background: var(--letter_col2);
}

.modal_info_img {
    height: 16px;
    margin-right: 8px;
}

/* Div pour empecher interaction */

#hide_overlay_navbar, #hide_overlay_modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100%;

    z-index: -1;

    transition: background-color 0.3s;
}

@media screen and ((max-width: 1080px) or (max-height: 575px)) {

    header { 
        width: 100%;
        height: 120px;
    }
    
    .header_content {
        width: 95%;
        float: none;
        flex-direction: row;
        justify-content: space-between;
        margin-top: unset;
        margin:auto;
    }
    
    .header_logo {
        height: 80%;
        width: fit-content;
        flex-direction: row;
        margin-top: unset;
    }
    
    .header_logo_img {
        max-height: 100%;
        width: auto;
        margin-right: 10px;
    }

    .header_logo_title {
        margin-top: unset;
        width: 115px;
    }

    #dev_navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header_navbar {
        margin-top: unset;
        flex-direction: row;
    }

    .header_navbar_link {
        margin-bottom: unset;
        width: fit-content;
        padding: 0 3px 0 3px;
        margin: 0 5px 0 5px;
        text-wrap: nowrap;
    }

    .header_navbar_link_span {
        font-size: .9em;
    }

    .header_links {
        position: relative;
        bottom: unset;
        margin: 0 0 0 20px;

        flex-direction: column;
    }

    .header_link {
        margin: 2px 0 2px 0;

        width: 40px;
        height: 40px;
    }
    
    .header_link:hover {
        box-shadow: none;
        transform: none;
    }

    .page {
        padding-top: 120px;
        width: 100%;
        float: none;
    }

    .page_content {
        margin: auto;
        padding: 0 20px 0 20px;
    }

    .about_me_header_img {
        margin-top: 20px;
    }

    footer {
        width: 100%;
    }

    .footer_content {
        margin: auto;
        padding: 0 20px 20px 20px;
    }

    .footer_dashed {
        margin: 20px;
    }
}

@media screen and (max-width: 767px) {

    body {
        font-size: .8em;
    }

    header {
        height: 80px;
    }

    .header_logo_title {
        font-size: 20px;
    }

    #dev_navbar {
        z-index: 5;

        position: fixed;
        top: 0;
        right: -100%;

        height: 350px;

        background-color: var(--col1);

        padding: 0 25px 0 35px;

        flex-direction: column;

        border-radius: 0 0 0 10px;

        transition: right .6s;
    }
    
    #dev_navbar_outline {
        z-index: 5;

        position: absolute;
        top: -10px;
        left: 10px;
        width: 110%;
        height: calc(100%);
        border: 2px solid #000;
        border-radius: 0 0 0 5px;
        box-sizing: border-box;
    }

    #navbar_close {
        z-index: 6;
        display: unset;
    }

    .header_navbar {
        z-index: 6;

        flex-direction: column;
    }

    .header_navbar_link {
        width: 160px;
        height: 40px;

        margin-bottom: 10px;
    }

    #header_navbar_link_aboutme {
        margin-top: 50px;
    }

    .header_navbar_link_span {
        font-size: 1em;
    }

    .header_dev_container {
        display: flex;
    }

    .header_links {
        z-index: 6;

        position: absolute;
        bottom: 20px;

        width: 80%;

        flex-direction: row;
        margin: 0;

        border-top: 2px dashed #000;
    }

    .header_link {
        margin: 10px 5px 0 5px;
    }

    .page {
        padding-top: 80px;
    }

    .project_overlay {
        justify-content: center;
    }

    #project_title {
        margin: 0;
    }

    #project_period, #project_techno {
        display: none;
    }

    .footer_content_underdashed {
        flex-direction: column;
    }

    .footer_select_langs {
        margin-top: 20px;
    }
}

@media screen and (max-width: 350px) {

    .project {
        width: 100%;
        padding-top: 100%;
    }

}